<nav th:fragment="header" class="mdl-color--teal-800 mdl-color-text--grey-100 mdl-shadow--4dp">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">Puerta 19</a>
		<a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/socios/nuevo">
			<i class="fas fa-plus fa-4x"></i>
		</a>
	</div>
</nav>
<nav th:fragment="header-largo" class="mdl-color--teal-800 mdl-color-text--grey-100 mdl-shadow--4dp">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">Puerta 18 Largo</a>
		<a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/socios/nuevo">
			<i class="fas fa-plus fa-4x"></i>
		</a>
	</div>
</nav>